.form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-weight: bold;
    border: none;
}
label{
    background-color: rgb(78, 74, 74);
}
body{
    background-color: rgb(78, 74, 74);
}
.inputField{
    border: 2px solid black;
}
#recordButton{
    background-color: red;
    font-weight: bold;
}